services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shopnexus
    ports:
      - "8081:5432"
    volumes:
      - pgdata:/var/lib/postgresql
volumes:
  pgdata:
